body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    
    
}


div{
    background-image:url("http://uploads.strikinglycdn.com/static/backgrounds/business-2/145.jpg");
    background-position: 100% 100%;
    background-repeat: no-repeat;
         
}
