:before,
:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
         
}
.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

                 
                  
h1, h3, h4, h5, p {
  margin-bottom: 22px;
  
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  zoom: 1;
}
.logo {
  border-top: 4px solid #648880;
  padding: 40px 0 22px 0;
  float: left;
}
primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
body {
  color: #888;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4 {
  color: #648880;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
}
.logo {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  line-height: 44px;
  padding: 40px 0 22px 0;
}
.tagline {
  margin: 66px 0 22px 0;
}
.primary-nav {
  font-size: 14px;
  font-weight: 400;
}
div {
  background-image: url("http://uploads.strikinglycdn.com/static/backgrounds/business-2/147.jpg");
  background-repeat: no-repeat;
}


              
                  