body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}


    



div{
    background-image:url("http://uploads.strikinglycdn.com/static/backgrounds/business-2/145.jpg");
    background-position: 100% 100%;
    background-repeat: no-repeat;
         
}
